@import "./fonts.scss";

body {
  // font-family: "Rubik", "PT Serif", system-ui, -apple-system, BlinkMacSystemFont,
  //   "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  //   "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: "Inter", "Inter UI", -apple-system, sans-serif;
  font-size: 18px;
  line-height: 1.7;
  padding: 2rem;
  min-height: 100vh;
  color: #23282e;
}

.content {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

body {
  b,
  strong {
    font-weight: 500;
  }

  blockquote {
    // font-style: italic;
    // font-family: serif;
    // opacity: 0.9;
    border-left: 6px solid #e2e8f0;
    background: #f6f8fa;
    padding: 1rem 2rem 1rem 2rem;

    cite {
      font-weight: bold;
    }
  }

  pre {
    border-radius: 4px;
    border: 1px solid #e2e8f0;
    overflow: auto;
    padding: 2.5rem 1rem 1rem 1rem;
    line-height: 1.2;
    max-width: 100%;
  }
  padding: 0;
}

.language-tag {
  font-size: 0.9rem;
  background: #f6f8fa;
  color: #586069;
  padding: 0.1rem 1rem;
  border-radius: 4px 0 8px 0;
  position: absolute;
  border: 1px solid #e2e8f0;
}

code {
  // background: hsla(0, 0%, 0%, 0.04);
  font-family: "Fira Code", "FiraCode NF", "Courier", monospace;
  border-radius: 4px;
  padding: 0rem 0.25rem;
  border: 1px solid #e2e8f0;
  font-size: 90%;
  white-space: pre-wrap;
  background-color: #f6f8fa;
  line-height: 1.1;

  pre > & {
    border: none;
    padding: 0;
    background: none;
  }
}

a,
a:visited {
  color: #23282e;
  text-decoration: none;
  border-bottom: 1px solid #23282e;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 3rem 0 5rem 0;
}

$footnote-space: 2rem;

.footnote-definition {
  font-size: 1rem;
  margin: 1rem 0px;
  padding-left: 40px;
  position: relative;

  &:nth-of-type(1) {
    margin-top: $footnote-space;
    padding-top: $footnote-space;
    border-top: 2px solid rgba(0, 0, 0, 0.1);

    & > sup {
      top: $footnote-space;
    }
  }

  & > sup {
    position: absolute;
    top: 0;
    right: calc(100% - 35px);
    font-size: inherit;
    line-height: inherit;
    margin-right: 0px;
    display: inline-block;

    &:after {
      content: ".";
    }
  }

  & > p {
    display: inline-block;
    margin: 0;
  }
}

.blog-post-content {
  max-width: 700px;
  margin: auto;
}

header {
  // width: 100%;
  // max-width: 820px;
  background-color: #23282e;
  // border-bottom: 1px solid #e1e4e8;
  // align-items: center;
  // align-content: center;
  a {
    border-bottom: 0px;
    color: #fafbfc !important;
  }
  #hleft {
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    // font-weight: 600;
    font-family: "Fira Code", "FiraCode NF", "Courier", monospace;
    .profile-icon {
      border: none;
      height: 50px;
      width: 50px;
      position: relative;

      img {
        border-radius: 50%;
      }
      margin-right: 1.2rem;
    }
  }
  #hright {
    margin: auto;
  }
  // margin: auto;
  display: flex;
  // flex-direction: row;
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 10;
  padding: 1rem;
}

nav {
  display: flex;
  // align-items: center;
  // justify-content: flex-end;
  margin-left: auto;

  > a:not(:last-child) {
    margin-right: 2rem;
  }
}

hr {
  border: 1px solid #e2e8f0;
  margin: 2rem 0;
}

.posts-container {
  display: flex;
  align-content: center;
  // align-items: center;
  justify-content: center;
  flex-direction: row;

  #left {
    margin-right: 3rem;
  }
}

@media (max-width: 800px) {
  .blog-post-content {
    margin: 0 2rem;
  }
  // body {
  //   padding: 1rem;
  // }

  // main {
  //   padding-top: 1rem;
  // }
}
